{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if gotenberg_container_labels_traefik_enabled %}
traefik.enable=true

{% if gotenberg_container_labels_traefik_docker_network %}
traefik.docker.network={{ gotenberg_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if gotenberg_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ gotenberg_identifier }}-slashless-redirect.redirectregex.regex=^({{ gotenberg_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ gotenberg_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [gotenberg_identifier + '-slashless-redirect'] %}
{% endif %}

{% if gotenberg_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ gotenberg_identifier }}-strip-prefix.stripprefix.prefixes={{ gotenberg_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [gotenberg_identifier + '-strip-prefix'] %}
{% endif %}

{% if gotenberg_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in gotenberg_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ gotenberg_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gotenberg_identifier + '-add-request-headers'] %}
{% endif %}

{% if gotenberg_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in gotenberg_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ gotenberg_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gotenberg_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ gotenberg_identifier }}.rule={{ gotenberg_container_labels_traefik_rule }}
{% if gotenberg_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ gotenberg_identifier }}.priority={{ gotenberg_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ gotenberg_identifier }}.service={{ gotenberg_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ gotenberg_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ gotenberg_identifier }}.entrypoints={{ gotenberg_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ gotenberg_identifier }}.tls={{ gotenberg_container_labels_traefik_tls | to_json }}
{% if gotenberg_container_labels_traefik_tls %}
traefik.http.routers.{{ gotenberg_identifier }}.tls.certResolver={{ gotenberg_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ gotenberg_identifier }}.loadbalancer.server.port={{ gotenberg_container_http_port }}
{% endif %}

{% for arg in gotenberg_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
